body , .md-flex-bg{
	background: #f8f8f8 !important;
}
.site-sidenav{
	background: #001f58;
	color: white;
}
.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.md-sidenav-left {
	max-width: 270px;
}
.md-button-prim{
	display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}

.dialogdemoThemeInheritance .container {
  text-align: center; }

  .animate-switch-container {
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.animate-switch {
  padding:10px;
}

.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top:0;
}

agm-map {
  height: 300px;
}
#map_div {
    height: 300px;
    width: 100%
}
.img-container{
	width: 300px;
	height: 300px;
}